/* Block info-bar */
.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #1f1f1f;
  border-radius: 15px;
  width: auto;
  height: 38px;
  padding: 0 38px;
  margin-bottom: 9px;
}

/* Element info-bar__contact-info */
.info-bar__contact-info ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.info-bar__list-item {
  margin-right: 22px;
  list-style: none;
}

.info-bar__label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  color: #a1a1a1;
}

.info-bar__link {
  color: white;
  text-decoration: none;
}

.info-bar__link:hover {
  text-decoration: underline;
}

/* Element info-bar__social-icons */
.info-bar__span-social {
  display: flex;
  align-items: center;
  gap: 22px;
}

.info-bar__social-icon {
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.info-bar__social-icon:hover {
  color: #f39c12;
}

/*nav-bar*/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 44px;
  border: 1px solid #cacaca;
  border-radius: 25px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 70px;
}
.side-button {
  width: 19.6px;
  height: 19.5px;
  background-image: url(./img/Side\ menu\ icon.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* .hidden {
  display: none;
} */

.nav-links li:first-child {
  background: #1f1f1f;
  border-radius: 10px;
  padding: 6px 31px 7px 22px;
  cursor: pointer;
}
.nav-links li:first-child a {
  color: #ffffff;
  text-align: center;
}
.nav-links li:first-child:hover {
  background: #3f3f3f; /* Schimbă fundalul la alb */
}

/*DROpDOWN*/
/* Container dropdown */
.dropdown {
  position: relative;
}

/* Meniul ascuns inițial */
.dropdown-menu {
  position: absolute;
  left: 0;
  top: 120%; /* Mai jos */
  background: rgb(0, 0, 0);
  list-style: none;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  border-radius: 20px;
  width: 286px;
  height: auto;
  padding: 39px 36px 51px 42px;
}
.dropdown-menu li a {
  color: #ffffff;
  font-weight: 200;
  line-height: 265%;
  font-family: var(--font-family);
}
.dropdown-menu li a:hover {
  color: #f14f44;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-item {
  list-style: none;
}
.nav-item a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
}

.action-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-links i {
  margin-right: 5px;
  cursor: pointer;
}

.action-item {
  list-style: none;
}
.action-item:nth-child(2) {
  margin-right: 15px; /* Ajustează distanța pentru elementul "basket" */
}
/*search button*/

.search-static {
  width: 200px;
}
.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 999px;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
  margin: 0 0.5rem;
  transition: width 0.5s;
}

.search-button {
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}

.search-icon,
.search-close {
  position: absolute;
  font-size: 1.25rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-close {
  opacity: 0;
  pointer-events: none;
}

.search-input {
  background-color: white;
  border: none;
  outline: none;
  width: 70%;
  height: 100%;
  border-radius: 999px;
  padding-left: 1rem;
  font-size: small;
  pointer-events: none;
}

.active-search {
  max-width: 100%;
  width: 14rem;
}
.active-search .search-button {
  left: calc(100% - 2rem);
}
.active-search .search-input {
  pointer-events: initial;
}

.active-search .search-close {
  opacity: 1;
  pointer-events: initial;
}
.active-search .search-icon {
  opacity: 0;
}

.action-button {
  width: 188px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 169%;
  text-align: center;
  color: #333;
  border-radius: 50px;
  border: 5px solid transparent; /* Creează un border transparent */
  background-image: linear-gradient(
    to right,
    #45d0bd,
    #44b6e9
  ); /* Gradientul liniar între cele două culori */
  background-origin: border-box; /* Aplică gradientul pe border */
  background-clip: content-box, border-box; /* Asigură-te că gradientul se aplică doar pe border */
  cursor: pointer;
  transition: background-image 0.5s ease, color 0.5s ease;
}
.action-button:hover {
  background-image: linear-gradient(
    to right,

    #3fb8f0,
    #3be0ca
  );
  color: white;
}
/* Stilizează SVG-ul */
.header__icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.nav-item:hover .header__icon {
  transform: translateX(5px);
}

.hero {
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
  margin-bottom: 89px;
}

th,
td {
  width: 20%;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity button {
  padding: 5px 10px;
  cursor: pointer;
}
.remove {
  color: red;
  cursor: pointer;
}
.shoping-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1341px;
}
.cart__product-info {
  display: flex;
  align-items: center;
  gap: 38px;
  max-width: 1341px;
}

.cart {
  width: 100%;
  border-collapse: collapse;
}

.cart__product-name {
  margin-bottom: 10px;
}

.cart__star {
  cursor: pointer;
  color: #ccc;
  font-size: 30px;
}
.cart__star.active {
  color: gold;
}

.cart__cell {
  padding: 15px;
  text-align: center; /* Aliniere la centru */
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 194%;
  color: #111;
}

.cart__product-details {
  min-width: 241px;
  margin-right: 38px;
  text-align: left;
}

.cart__quantity {
  font-size: 1rem;
  font-weight: bold;
  flex: 1;
  text-align: center;
  border: 1px soli;
}

.card__cell__btn {
  border: 1px solid #333;
  border-radius: 10px;
  width: 102px;
  height: 50px;
  margin-left: 100px;
  padding: 15px;
}

.cart__quantity {
  padding: 0 5px;
  font-size: 20px;
}

.cart__btn {
  border: none;
  background: none;
  font-size: 30px;

  border-radius: 10px;

  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

.cart__button-remove {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
}

/*butons coupon-send-update*/
.coupon-send-update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1341px;
  margin: 0 auto;
}

#coupon-code {
  border: 1px solid #adadad;
  border-radius: 20px;
  width: 307px;
  height: 50px;
  background: #fff;
}
input::placeholder {
  text-align: center;
  font-style: italic;
  color: #888;
}

#send-message {
  width: 171px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  border: none;
  border-radius: 15px;
  color: #333;
  background: linear-gradient(to right, #45d0bd, #44b6e9);
  transition: background-image 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

#send-message:hover {
  background: linear-gradient(to right, #44b6e9, #45d0bd);
  color: white;
}

#update-card {
  width: 171px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  border: none;
  border-radius: 15px;
  color: #333;
  background: linear-gradient(to right, #45d0bd, #44b6e9);
  transition: background-image 0.5s ease, color 0.5s ease;
  cursor: pointer;
}

#update-card:hover {
  background: linear-gradient(to right, #44b6e9, #45d0bd);
  color: white;
}

/*CARD_SUMARY*/

.cart-summary {
  display: flex;
  margin: 93px 275px 0 auto;
  border-radius: 25px;
  width: 305px;
  height: 350px;
  background: #f0f2f4;
}

.cart-sumary-content {
  padding: 29px 40px 42px 47px;
}
#card,
#subtotal,
#total {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 200%;
  letter-spacing: -0.03em;
  color: #111;
}
#total {
  margin-bottom: 26px;
}
.checkout-btn {
  border: 1px solid #1f1f1f;
  border-radius: 15px;
  width: 215px;
  height: 50px;
  background: #1f1f1f;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  color: #fff;
  transition: 0.5s ease, color 0.5s ease;
}
.checkout-btn:hover {
  background-color: green;
  cursor: pointer;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
/*footer*/
.contact-us {
  background: white;
}

.contact-us__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 111px;
  padding-top: 136px;
  margin-bottom: 149px;
  border-radius: 25px;
}

.contact-us__mistake {
  width: 100%;
  height: 1808px;
  border-radius: 25px;
  background: radial-gradient(circle, #ad91fe 0%, #000000 100%);
}

.contact-us__title,
.contact-us__label,
.contact-us__location {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.contact-us__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  max-width: 578px;
  margin-bottom: 23px;
}

.contact-us__description,
.contact-us__number,
.contact-us__email,
.contact-us__address {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
}

.contact-us__description {
  font-weight: 500;
  line-height: 187%;
  max-width: 518px;
  margin-bottom: 67px;
}

.contact-us__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 430px;
  gap: 20px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.social__list {
  list-style: none;
}

.form__content {
  width: 650px;
  height: 742px;
  border-radius: 25px;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__title {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: #333;
  margin-top: 85px;
}

input,
textarea {
  border: 1px solid #adadad;
  border-radius: 20px;
  width: 440px;
}

input {
  height: 50px;
}

textarea {
  height: 175px;
}

::placeholder {
  padding-left: 20px;
  padding-top: 20px;
}

.form__button,
.contact__button {
  width: 171px;
  height: 55px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  border: 2px solid transparent;
  border-radius: 25px;
}

.form__button {
  color: black;
  background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(to right, #45d0bd, #44b6e9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.form__button:hover,
.contact__button:hover {
  cursor: pointer;
  color: #584f4f;
  background: linear-gradient(45deg, #00ff00, #00ffff);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}

.contact__button {
  color: white;
  background-image: linear-gradient(#252525, #202020),
    linear-gradient(to right, #45d0bd, #44b6e9);
}

.contact__text__bottom,
.contact__content__bottom {
  display: flex;
  align-items: center;
  gap: 285px;
}

.contact__content__bottom {
  margin: 140px 0 0 267px;
  padding-bottom: 81px;
}

.contact__title__bottom {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 112%;
  letter-spacing: -0.03em;
  background: linear-gradient(135deg, #45d0bd 0%, #44b6e9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 880px;
}

.line {
  width: 1338px;
  height: 1px;
  background-color: white;
  border: none;
  margin-left: 276px;
  margin-bottom: 65px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 177px;
  margin: 0 auto 50px; /* Folosit auto pentru marginile laterale */
  max-width: 1200px; /* Limitează lățimea pentru a preveni întinderea prea mare */
}

.footer__social-list,
.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-list {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.footer__content--right {
  display: flex;

  gap: 20px;
}

.footer__right__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 20px; /* Spatiu mai mare între titlu și elementele de listă */
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  color: green;
}

.footer__privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 43px;
  max-width: 1200px; /* Limitează lățimea pentru a preveni întinderea prea mare */
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #bebebe;
}

.footer__allrights,
.footer__terms {
  margin: 0;
}
/*MEDIA QUERY*/
img {
  max-width: 100%;
  height: auto; /* Păstrează raportul de aspect al imaginii */
}

/* Media query pentru ecrane mai mici de 1950px */

@media (min-width: 1950px) {


}
@media (max-width: 1950px) {
  .container {
    width: 100%; /* Ajustează lățimea pentru ecrane mai mici */
  }
  .info-bar {
    max-width: 1950px;
  }
  .nav-bar {
    display: flex;
  }


}

@media (max-width: 1660px) {
  .container {
    width: 90%; /* Ajustează lățimea pentru ecrane și mai mici */
  }
  .line {
    display: none;
  }

  .contact__content__bottom {
    margin: 0;
  }

  .nav-links {
    display: none;
  }
 
  /* .hidden {
    display: block !important; 
    visibility: visible;
    opacity: 1;
  } */
}
@media (max-width: 1500px) {
  .container {
    width: 90%; /* Ajustează lățimea pentru ecrane și mai mici */
  }
  .info-bar {
    /* max-width: 1600px; */
  }

  .nav-links {
    display: none;
  }
  .nav-links {
    gap: 20px;
  }

  .contact-us__mistake {
    width: 95%;
  }
}

/* Media query pentru ecrane mai mici de 1200px */
@media (max-width: 1200px) {
  .container {
    width: 90%; /* Ajustează lățimea pentru ecrane și mai mici */
  }
  .info-bar {
    max-width: 1200px;
  }
  .nav-links {
    display: none;
  }
  .form__content {
    width: 474px;
    height: 634px;
  }

  .contact__content__bottom {
    gap: 0;
  }

  .contact-us__mistake {
    width: 100%;
    height: 100%;
  }
}

/* Media query pentru ecrane mai mici de 992px */
@media (max-width: 992px) {
  .container {
    width: 80%; /* Ajustează lățimea pentru tablete și dispozitive mai mici */
  }
  .info-bar {
    max-width: 992px;
    display: flex;
    flex-direction: column;
    height: 60px;
  }
  .contact__content__bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .contact-us__content {
    display: grid;
    place-items: center;
  }

  .contact-us__title,
  .contact-us__details,
  .contact-us__description {
    max-width: 1000px;
    text-align: center;
  }
}

/* Media query pentru ecrane mai mici de 768px */
@media (max-width: 768px) {
  .container {
    width: 100%; /* Ajustează lățimea pentru telefoane mobile */
  }
  .info-bar {
    max-width: 768px;
  }
}

/* Media query pentru ecrane mai mici de 480px */

#send-message svg,
#update-card svg {
  margin-left: 10px;
  width: 12px;
  height: 11px;
}

/* Media Queries pentru mobil */
@media (max-width: 768px) {
  .cart__header {
    display: none;
  }

  .cart__row {
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .cart__cell {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .cart__product-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart__product-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 144px;
  }
  .cart__product-details {
    margin-left: 114px;
  }
  .cart__rating {
    margin-top: 5px;
  }

  .cart__quantity-btn {
    width: 100%;
    justify-content: space-between;
  }

  .coupon-send-update {
    display: flex;
    flex-direction: column;
  }

  #coupon-code {
    width: 100%;
    margin-bottom: 10px;
  }

  #send-message,
  #update-card {
    width: 100%;
    margin-bottom: 10px;
  }

  .contact-us__details {
    display: flex;
    flex-direction: column;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }
  .info-bar {
    max-width: 480px;
    height: 80px;
  }

  .search-static {
    margin-top: 20px;
  }
  .nav-items {
    margin-bottom: 40px;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
  }
  .action-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .contact-us__title {
    max-width: 350px;
  }
  .form__content {
    width: 303px;
  }
  #form__content {
    width: 280px;
  }

  .colspan {
    display: none;
  }

  .cart-summary {
    margin: 0;
  }
  .info-bar__label {
    display: none;
  }

  .info-bar__list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
  .info-bar {
    height: 70px;
    text-align: center;
  }

  .info-bar__list {
    display: flex;
    flex-direction: column;
  }

  .info-bar__label {
    display: none;
  }
  .hero-img {
    display: none;
  }
  .contact-us__content {
    gap: 10px;
  }
  .info-bar__label {
    display: none;
  }
}
